* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.head_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #30343f;
  width: 100%;
  height: 104px;
  padding: 0 40px;
  flex-wrap: wrap;
  img {
    width: 372px;
    height: 65px;
  }
  .head_navigation {
    display: flex;
    align-items: center;
    .head_navigation_container {
      width: 406px;
      height: 31px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      li {
        list-style: none;
        a {
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          select {
            background: transparent;
            border: none;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #fff;
            text-transform: uppercase;
          }
          img {
            width: 32px;
            height: 25px;
          }
        }
      }
    }
  }
}
.container-shop {
  width: 100%;
  height: auto;
  display: flex;
  padding-right: 60px;
  .caja1 {
    display: flex;
    width: 20%;
    height: auto;
  }
  .caja2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    flex-wrap: wrap;
  }
}
.formulario{
  padding-top: 60px;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .buscar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    h3{
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      text-transform: uppercase;
      padding-bottom: 10px;
      color: #111;
    }
    input{
      background: #fff;
      outline: none;
      width: 198px;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      color: #B9B9B9;
    }
  }
  .ordenar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    h3{
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      text-transform: uppercase;
      padding-bottom: 10px;
    }
    select{
      background: #fff;
      outline: none;
      width: 198px;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      color: #B9B9B9;
    }
  }
  .precio{
    display: flex;
    flex-direction:column;
    h3{
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      text-transform: uppercase;
      padding-bottom: 10px;
      color: #111;
    }
    .minmax{
      display: flex;
      align-items: center;
      gap: 5px;
      input{
        width: 50px;
        height: 28px;
      }
      h4{
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        color:#111111;
        text-transform: uppercase;
      }
    }
  }
  .filtrar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    h3{
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      text-transform: uppercase;
      color: #111;
    }
    input{
      width: 24px;
      height: 24px;
    }
    label{
      display: flex;
      align-items: center;
      gap: 5px;
      line-height: 22px;
      font-size: 18px;
      font-weight: 500;
      color: #111;
      text-transform: uppercase ;
    }
  }
}

.card-shop {
  position: relative;
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .imgBox-shop{
    position: relative;
    width: 100%;
    height: 352px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .title-bottom-nuevo{
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 95px;
      height: 30px;
      background:#FF3333;
      color: #fff;
    }
    img{
      width: 300px;
      height: 350px;
      backdrop-filter: cover;
    }
  }
  .content-shop{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    h5{
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      color: #111;
    }
    h6{
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      text-transform: uppercase;
      color: #333;
    }
    p{
      font-size: 12px;
      font-weight: 700;
      line-height: 14px;
      text-transform: uppercase;
      color: #1D84B5;
    }
  }
}

.pagination-bar{
  width: 100%;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin:60px 0;
  .pagination-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
    .prev{
      opacity: 0.5;
      background: #919EAB;
      color: #C4CDD5;
      &:hover{
        opacity: 1;
        color: #111;
      }
    }
    .first{
      border: 1px solid #FF3333;
      color: #FF3333;
      background: #fff;
    }

    button{
      width: 44px;
      height: 44px;
      border-radius: 4px;
      font-size: 1em;
      font-weight: 700;
      line-height: 20px;
      background: #fff;
    }
  }
}

.footer {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  background: #30343f;
  .navigation {
    width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ul {
      list-style: none;
      li {
        padding: 5px 0;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        text-transform: uppercase;
        a {
          color: #fff;
          text-decoration: none;
          &:hover {
            color: blue;
          }
        }
      }
    }
  }
  .copyrigth {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    p {
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      text-align: center;
    }
  }
  .logo-footer {
    width: 400px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 143px;
      height: 117px;
    }
  }
}

