* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.head_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #30343f;
  width: 100%;
  height: 104px;
  padding: 0 40px;
  flex-wrap: wrap;
}
.head_container img {
  width: 372px;
  height: 65px;
}
.head_container .head_navigation {
  display: flex;
  align-items: center;
}
.head_container .head_navigation .head_navigation_container {
  width: 406px;
  height: 31px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.head_container .head_navigation .head_navigation_container li {
  list-style: none;
}
.head_container .head_navigation .head_navigation_container li a {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.head_container .head_navigation .head_navigation_container li a select {
  background: transparent;
  border: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
}
.head_container .head_navigation .head_navigation_container li a img {
  width: 32px;
  height: 25px;
}

.container-item {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 70px;
}

.card-item {
  width: 1192px;
  height: 550px;
  display: flex;
  gap: 25px;
}
.card-item .imgBox {
  width: 550px;
  height: 550px;
  overflow: hidden;
  -webkit-backdrop-filter: cover;
          backdrop-filter: cover;
}
.card-item .imgBox img {
  width: 550px;
  height: 500px;
}
.card-item .content {
  width: 642px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  gap: 10px;
  margin-bottom: 90px;
}
.card-item .content .title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
}
.card-item .content .product {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  color: #111;
  text-transform: uppercase;
}
.card-item .content .description {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #333333;
}
.card-item .content .price {
  font-size: 38px;
  font-weight: 400;
  line-height: 46px;
  color: #333333;
}
.card-item .content .carrito {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.card-item .content .carrito .btn {
  width: 39px;
  height: 39px;
  background-color: #4F4F4F;
  border-radius: 5px;
  color: #fff;
}
.card-item .content .carrito .display {
  width: 38px;
  height: 32px;
  outline: none;
  background-color: #fff;
  color: #747474;
}
.card-item .content .carrito .btn-carrito {
  width: 182px;
  height: 38px;
  background-color: #FF3333;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
.card-item .content span {
  color: #1D84B5;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}
.card-item .content .underline {
  text-decoration: underline;
}
.card-item .content .span-title {
  text-transform: uppercase;
}

.section-bottom-bar {
  width: 100%;
  height: auto;
  display: flex;
  padding-bottom: 10px;
}
.section-bottom-bar .title-bottom-bar {
  font-size: 46px;
  font-weight: 700;
  line-height: 54px;
  text-transform: uppercase;
  color: #111;
}

.card-grid {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  gap: 20px;
  padding: 20px 20px 60px 20px;
}

.title-bottom-nuevo {
  display: block;
  margin-left: 210px;
  padding: 15px 46px;
  background-color: #ff3333;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 512px;
}
.card-bottom .imgbox {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.card-bottom .imgbox img {
  -webkit-backdrop-filter: cover;
          backdrop-filter: cover;
}
.card-bottom .content-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.card-bottom .content-bottom h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #111;
  text-transform: uppercase;
}
.card-bottom .content-bottom h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-transform: uppercase;
  color: #333;
  text-transform: uppercase;
}
.card-bottom .content-bottom p {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #1d84b5;
  text-transform: uppercase;
}

.title-bottom-nuevo {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.btn-bottom-bar {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 4px;
  margin-top: 180px;
  color: #595959;
  font-size: 1em;
}

.footer {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  background: #30343f;
}
.footer .navigation {
  width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .navigation ul {
  list-style: none;
}
.footer .navigation ul li {
  padding: 5px 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}
.footer .navigation ul li a {
  color: #fff;
  text-decoration: none;
}
.footer .navigation ul li a:hover {
  color: blue;
}
.footer .copyrigth {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.footer .copyrigth p {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
.footer .logo-footer {
  width: 400px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .logo-footer img {
  width: 143px;
  height: 117px;
}/*# sourceMappingURL=item.css.map */