* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.head_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #30343f;
  width: 100%;
  height: 144px;
  padding: 0 40px;
  flex-wrap: wrap;
}
.head_container img {
  width: 372px;
  height: 65px;
}
.head_container .head_navigation {
  display: flex;
  align-items: center;
}
.head_container .head_navigation .head_navigation_container {
  width: 406px;
  height: 31px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.head_container .head_navigation .head_navigation_container li {
  list-style: none;
}
.head_container .head_navigation .head_navigation_container li a {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.head_container .head_navigation .head_navigation_container li a select {
  background: transparent;
  border: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
}
.head_container .head_navigation .head_navigation_container li a img {
  width: 32px;
  height: 25px;
}

.banner {
  width: 100%;
  height: 388px;
  background-image: url("../img/funkos-banner.webp");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.banner .banner-content {
  width: 450px;
  height: 168px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 105px;
  margin-top: 110px;
}
.banner .banner-content .banner-title {
  padding-bottom: 45px;
}
.banner .banner-content .banner-title h1 {
  font-weight: 700;
  color: #fff;
  font-size: 38px;
  line-height: 45px;
  text-transform: capitalize;
}
.banner .banner-content .banner-title p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #fff;
}
.banner .banner-content .banner-btn {
  display: flex;
  justify-items: flex-start;
  align-items: flex-start;
}
.banner .banner-content .banner-btn button {
  width: 211px;
  height: 47px;
  border-radius: 50px;
  background: #fff;
  color: #111;
  font-size: 20px;
  font-weight: 500px;
  line-height: 24px;
}

.main-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.card-container {
  background-color: #fff;
  width: 100%;
  height: auto;
  margin: 0 100px;
  margin-top: 90px;
  margin-bottom: 50px;
}

.card {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.card .row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.card .imgbox {
  width: 600px;
  height: 600px;
  display: flex;
  overflow: hidden;
  -webkit-backdrop-filter: cover;
          backdrop-filter: cover;
}
.card .card-context {
  display: flex;
  width: 600px;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 40px;
}
.card .card-context h1 {
  font-size: 46px;
  font-weight: 500;
  line-height: 54px;
  color: #111;
  text-transform: uppercase;
}
.card .card-context p {
  font-size: 24px;
  font-weight: 400;
  line-height: #4f4f4f;
}
.card .card-context hr {
  border: 1px solid #ff3333;
  width: 100%;
}
.card .card-context button {
  width: 291px;
  height: 65px;
  border-radius: 50px;
  background-color: #30343f;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 2px;
}

.section-bottom-bar {
  width: 100%;
  height: auto;
  display: flex;
  padding-bottom: 10px;
}
.section-bottom-bar .title-bottom-bar {
  font-size: 46px;
  font-weight: 700;
  line-height: 54px;
  text-transform: uppercase;
  color: #111;
}

.card-grid {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  gap: 20px;
  padding-top: 15px;
}

.title-bottom-nuevo {
  display: block;
  margin-left: 210px;
  padding: 15px 46px;
  background-color: #ff3333;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 512px;
}
.card-bottom .imgbox {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.card-bottom .imgbox img {
  -webkit-backdrop-filter: cover;
          backdrop-filter: cover;
}
.card-bottom .content-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.card-bottom .content-bottom h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #111;
  text-transform: uppercase;
}
.card-bottom .content-bottom h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-transform: uppercase;
  color: #333;
  text-transform: uppercase;
}
.card-bottom .content-bottom p {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #1d84b5;
  text-transform: uppercase;
}

.title-bottom-nuevo {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.btn-bottom-bar {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 4px;
  margin-top: 180px;
  color: #595959;
  font-size: 1em;
}

.footer {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  background: #30343f;
}
.footer .navigation {
  width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .navigation ul {
  list-style: none;
}
.footer .navigation ul li {
  padding: 5px 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}
.footer .navigation ul li a {
  color: #fff;
  text-decoration: none;
}
.footer .navigation ul li a:hover {
  color: blue;
}
.footer .copyrigth {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.footer .copyrigth p {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
.footer .logo-footer {
  width: 400px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .logo-footer img {
  width: 143px;
  height: 117px;
}/*# sourceMappingURL=style.css.map */